body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

h1 {
  font-size: 55px;
  font-family: 'Merriweather Sans', sans-serif;
}

h2 {
  line-height: 60%;
  font-family: 'Merriweather Sans', sans-serif;
}

p {
  font-size: 16px;
  line-height: 140%;
}

.full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.glow {
	-webkit-box-shadow: 0px 0px 3px 5px #99CCFF;
	-moz-box-shadow: 0px 0px 3px 5px #99CCFF;
	box-shadow: 0px 0px 3px 5px #99CCFF;
}

.underline {
	text-decoration: underline;
}

#portrait {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

#right-div {
	padding-top: 150px;
}

@media (max-device-width: 320px) {

	h1 {
	  font-size: 55px;
	  font-family: 'Playfair Display', serif;
		text-align: center;
	}

	h2 {
	  font-family: 'Playfair Display', serif;
		text-align: center;
	}

	#portrait {
	  height: 150px;
	  width: 150px;
	  border-radius: 100%;
		display: block;
		margin: 0 auto;
	}

}
